body .btn{font-size: var(--fs_sm);font-weight: var(--fw-medium);margin: 0;color: #fff;text-transform: capitalize;
    padding: 0.5rem 1rem;border-radius: var(--br_sm);transition: 0.5s all ease;display: flex;align-items: center;gap: 10px;justify-content: center;width: fit-content;}

body .btn-danger{background-color: #dc3545;color: #fff;border: 1px solid #dc3545;}
body .btn.btn-danger:hover{background-color: #af1f2e;border: 1px solid #af1f2e;}
body .btn.btn-danger-outline{background-color: transparent;border: 1px solid #dc3545;color: #dc3545;}
body .btn.btn-danger-outline:hover{background-color: #af1f2e;border: 1px solid #af1f2e;color: #fff;}

body .btn-primary{color: #fff;background-color: var(--primary_color); border: 1px solid var(--primary_color);}
body .btn.btn-primary:hover{color: #fff;background-color: var(--primary_hover_color);border: 1px solid transparent;}
body .btn.btn-primary-outline{background-color: transparent;border: 1px solid var(--primary_color);color: var(--primary_color);}
body .btn.btn-primary-outline:hover{background-color: var(--primary_color_hover);border: 1px solid var(--primary_color_hover);color: #fff;} 

body .btn.btn-secondary{
    
}
body .btn.btn-secondary:hover{color: #fff;background-color: #5C636A;border: 1px solid #5C636A;}
body .btn.btn-secondary-outline{background-color: transparent;border: 1px solid #6C757D;color: #6C757D;}
body .btn.btn-secondary-outline:hover{background-color: #5C636A;border: 1px solid #6C757D;color: #fff;}